{% extends "base.html" %}

{% load static staticfiles %}

{% block static %}
<link rel="stylesheet" href="{% static 'movies/css/movies.css' %}">
{% endblock %}



{% block title %}
Movies reviewed
{% endblock %}



{% block content %}

{% if reviewer %}
 <h1>Here's a list of those that you have seen, {{ reviewer }} (best to worst)</h1>
 {% else %}
 <h1>Here's the list of all the movies reviewed thus far!</h1>
 {% endif %}
 
 <!-- {% for movie in movies %}
 <ul>
 <li><a href="movie_detail/{{ movie.pk }}">{{ movie.title }}: {{ movie.rating }}</li>
 </ul>
 {% endfor %}
  -->
{% if movies %}
{% for movie in movies %}
<div class="card">
    
    <header><a href="movie_detail/{{ movie.pk }}">{{ movie.title }}</a></header>
    <div class="card-copy">
        Average Score: {{ movie.rating }}
    </div>
</div>
{% endfor %}
    {% else %}
    <h1>No movies reviewed yet, get to work you!</h1>
    {%  endif %}
 {% endblock %}