{% load static from staticfiles %}


<!DOCTYPE>
<html>
<head>
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    
    <div class="site-container">
            <nav>
                    <!-- using name of path                -->
                    <a href="{% url 'home' %}">Home</a>
                    <a href="{% url 'all_movies' %}">All Movies Reviewed</a>
                    <!-- below causes pile ups at url name
                    <a href="all_movies">All Movies Reviewed</a> -->
                </nav>
    {% block content %}
    
    {% endblock %}
    </div>
</body>

</html>