{% load static from staticfiles %}


<!DOCTYPE>
<html>
<head>
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static '/css/base.css' %}">
    {% block static %}
  
    {% endblock %}
</head>
<body>
    
    <div class="site-container">
            <nav>
                    <!-- using name of path                -->
                    <a href="{% url 'home' %}">Home</a>

                    <a href="{% url 'movies:all_movies' %}">All Movies Reviewed</a>
                    {% if user.is_authenticated %}
                    <a href="{% url 'movies:movie_review' %}">Review a Movie</a>
                    {% endif %}
                    <!-- below causes pile ups at url name
                    <a href="all_movies">All Movies Reviewed</a> -->
                </nav>
    {% block content %}
    
    {% endblock %}
    </div>
</body>

</html>